  h1{
    font-size:72px;
    font-family:Georgia;
    margin-top:50px;
  }

nav a{
  text-decoration: none;
  color:#B2DFDB;
  background-color:#009688;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  transition:1s all;
}
nav a:hover {
  background-color:#212121;
}
 body{
 background-color: #7C7B7F;
 color: #0BE8B6;
 font-family: sans-serif;
 }
 header{
   text-align: center;
 }
header img{
  border-radius: 20%
}
header h1 {
  font-family: 'Bad Script', cursive;
}
header h2 {
  font-family: 'Seaweed Script', cursive;
}
 h2{
 color: #B2DFDB;
  }

section{
  background-image url(http://41.media.tumblr.com/f27097121d1a17c3db062d5ae37b6f18/tumblr_nim7xaCTE01qfirfao1_1280.jpg)
}
