  h1{
    font-size:72px;
    font-family:Georgia;
    margin-top:50px;
  }

nav a{
  text-decoration: none;
  color:#BFB6BB;
  background-color:#36393B;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  transition:1s all;
}
nav a:hover {
  background-color:#BFB6BB;
}
 body{
 margin: 0;
 background-color: white;
 color: #C49799;
 font-family: sans-serif;
 }
 header{
   text-align: center;
 }
header h1 {
  font-family: 'Playfair Display', serif;
}
header h2 {
  font-family: 'Seaweed Script', cursive;
}
 h2{
 color: #B2DFDB;
  }

   p {
     padding: 0px;
     margin: 0;
  background-color: #AFD0D6;
  font-family: impact, Haettenschweiler, "Arial Narrow Bold", sans-serif ;
 }

section{
  text-align: center;
  background-image: url(https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?q=75&fm=jpg&w=1080&fit=max&s=2167320d42459edfad96ffdc0415d764);
  height: 250px;
  background-size: cover;
  background-color: AFD0D6;
}
#new{
  text-align: center;
  background-image: none;
  background-color:C49799 ;
  height: 0px;
  color: C49799 ;
}

td{
	padding:30px;
}

.myButton {
	-moz-box-shadow: 0px 11px 14px -7px #276873;
	-webkit-box-shadow: 0px 11px 14px -7px #276873;
	box-shadow: 0px 11px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36393B), color-stop(1, #AFD0D6));
	background:-moz-linear-gradient(top, #36393B 5%, #AFD0D6 100%);
	background:-webkit-linear-gradient(top, #36393B 5%, #AFD0D6 100%);
	background:-o-linear-gradient(top, #36393B 5%, #AFD0D6 100%);
	background:-ms-linear-gradient(top, #36393B 5%, #AFD0D6 100%);
	background:linear-gradient(to bottom, #36393B 5%, #AFD0D6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36393B', endColorstr='#AFD0D6',GradientType=0);
	background-color:#36393B;
	border:2px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	padding:10px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #AFD0D6), color-stop(1, #36393B));
	background:-moz-linear-gradient(top, #AFD0D6 5%, #36393B 100%);
	background:-webkit-linear-gradient(top, #AFD0D6 5%, #36393B 100%);
	background:-o-linear-gradient(top, #AFD0D6 5%, #36393B 100%);
	background:-ms-linear-gradient(top, #AFD0D6 5%, #36393B 100%);
	background:linear-gradient(to bottom, #AFD0D6 5%, #36393B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFD0D6', endColorstr='#36393B',GradientType=0);
	background-color:#AFD0D6;
}
.myButton:active {
	position:relative;
	top:1px;
}
