  h1{
    font-size:72px;
    font-family:Georgia;
    margin-top:50px;
  }

nav a{
  text-decoration: none;
  color:#B2DFDB;
  background-color:#009688;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  transition:1s all;
}
nav a:hover {
  background-color:#212121;
}
 body{
 margin: 0;
 background-color: white;
 color: #008B8B;
 font-family: sans-serif;
 }
 header{
   text-align: center;
 }
header h1 {
  font-family: 'Bad Script', cursive;
}
header h2 {
  font-family: 'Seaweed Script', cursive;
}
 h2{
 color: #B2DFDB;
  }

   p {
     padding: 0px;
     margin: 0;
  background-color: #B7D6DB;
  font-family: impact, Haettenschweiler, "Arial Narrow Bold", sans-serif ;
 }

section{
  text-align: center;
  background-image: url(http://41.media.tumblr.com/f27097121d1a17c3db062d5ae37b6f18/tumblr_nim7xaCTE01qfirfao1_1280.jpg);
  height: 500px;
  background-size: cover;
}
#new{
  background-image: none;
  background-color: DarkCyan;
  height: 250px;
  color: DarkCyan ;
}

.myButton {
	-moz-box-shadow: 0px 11px 14px -7px #276873;
	-webkit-box-shadow: 0px 11px 14px -7px #276873;
	box-shadow: 0px 11px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #59b397), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #59b397 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #59b397 5%, #408c99 100%);
	background:-o-linear-gradient(top, #59b397 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #59b397 5%, #408c99 100%);
	background:linear-gradient(to bottom, #59b397 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59b397', endColorstr='#408c99',GradientType=0);
	background-color:#59b397;
	border:2px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	padding:10px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #59b397));
	background:-moz-linear-gradient(top, #408c99 5%, #59b397 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #59b397 100%);
	background:-o-linear-gradient(top, #408c99 5%, #59b397 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #59b397 100%);
	background:linear-gradient(to bottom, #408c99 5%, #59b397 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#59b397',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
